@import '../../styles/global';
.target {
  margin-top: $smallSeparator;
  h4 {
    margin-bottom: 10px;
  }
  form {
    .group {
      display: flex;
      flex-direction: row;
      &__input {
        margin: 5px;
        padding: 15px;
      }
      button {
        margin: 5px;
      }
    }
  }
}
