@import '../../styles/global';
.target {
  margin-top: $smallSeparator;
  h4 {
    margin-bottom: 10px;
  }
  form {
    .group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      &__input {
        width: 100%;
        margin: 5px;
        padding: 15px;
      }
      button {
        margin: 5px;
        width: 100%;
      }
    }
  }
}

// ************* Media Query
@import './CreateTarget.media.scss';
