@import '../../styles/global';
.general {
  background: $color5;
  color: $color4;
  padding: 15px 30px;
  font-size: $small;
  box-shadow: $boxShadow;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: translate3d(0, -5px, 0);
    border-radius: 0;
  }
}
.primary {
  background: $color3;
  color: $color1;
  padding: 15px 30px;
  font-size: $small;
  border-radius: 5px;
}
