// Font family
$font: 'Karla', Arial, sans-serif, calibri;

// Font sizes
$xsmall: 1.1rem;
$small: 1.5rem;
$medium: 2rem;
$large: 2.5rem;
$xlarge: 3rem;

// Colors
$color1: #2e3532; /*main background*/
$color2: #d2d4c8; /*sidebar*/
$color3: #d3efbd; /*boxes*/
$color4: #e0e2db; /*inputs*/
$color5: #8b2635; /*buttons etc*/
