@import '../styles/global';
.App[data-theme='dark'] {
  background: $color1;
  .container {
    padding: 80px 0;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;

    &__sidebar {
      width: 30%;
      background: $color2;
      padding: 50px;
      height: auto;

      @import url('./_scroll.scss');
    }

    &__overview {
      width: 70%;
    }
    .overview__button {
      padding-left: 50px;
      margin-top: $smallSeparator;
    }
  }
}

// ************* Media Query
@media screen and (max-width: 980px) {
  .App[data-theme='dark'] {
    .container {
      &__sidebar {
        overflow-y: scroll;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .App[data-theme='dark'] {
    .container {
      flex-wrap: wrap;

      &__sidebar {
        height: auto;
        width: 100%;
        overflow-y: hidden;
      }

      &__overview {
        width: 100%;
      }
    }
  }
}
