@import '../../styles/global';
// this is the body of our table
// the content are styled here
.body {
  text-align: center;

  td {
    color: $color4;
    padding: 15px;
  }

  &__input {
    font-size: $xsmall;
    padding: 5px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;

    // buttons styles
    .edit,
    .save,
    .delete,
    .paid,
    .unPaid {
      padding: 7px;
      border-radius: 2px;
    }
    .edit {
      background: lightgreen;
    }
    .save {
      background: lightyellow;
    }
    .delete {
      background: orangered;
    }
    .paid {
      background: lightsalmon;
    }
    .unpaid {
      background: lightcoral;
    }
  }
}

.body[data-color='completed'] {
  background: $color3;
  td {
    color: $color1;
  }
}
