@import '../../styles/global';
// this is the body of our table
// the content are styled here
.body {
  text-align: center;

  td {
    color: $color4;
    padding: 15px;
    text-transform: capitalize;
  }

  &__input {
    font-size: $xsmall;
    padding: 5px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background: $color4;
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;

    // buttons styles
    button {
      background: white;
      padding: 5px;
      font-weight: bold;
    }

    // ******* Edit Button
    .edit {
      &:hover {
        background: green;
        color: white;
      }
    }
    .save {
      background: green;
      color: white;
    }

    // ******* Delete Button
    .delete {
      &:hover {
        background: red;
        color: white;
      }
    }

    // ******* Paid
    .unPaid {
      &:hover {
        background: red;
        color: white;
      }
    }
    .paid {
      &:hover {
        background: green;
        color: white;
      }
    }
  }
}

// ******* The color of the Table Rows when they are completed
.body[data-color='completed'] {
  background: $color4;
  td {
    color: $color1;
  }
}
