@import '../../styles/global';
// this is the body of our table
// the content are styled here
.body {
  text-align: center;
  td {
    color: $color4;
    padding: 10px;
  }

  &__input {
    font-size: $xsmall;
    padding: 10px;
  }
}
