@import '../../styles/global';
.search {
  margin-top: $mediumSeparator;
  display: flex;
  flex-flow: row nowrap;
  &__input {
    width: 100%;
    padding: 12px 20px;
    background: $color6;
    color: $color1;
  }
  &__button {
    padding: 10px;
    font-size: $small;
    color: $color4;
    background: $color1;
  }
}
