* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './styles/global';
body {
  font-family: $font;
  font-size: 100%;
}

.App {
  min-height: 100vh;
  height: 100%;
  display: flex; /*to use margin: `auto` to center child nodes */
  flex-direction: column;

  // Theme `dark` version
  @import url(./styles/_theme.dark.scss);
}

// ************* Generics
@import './styles/generics';

// ************* Media Query
@media screen and (max-width: 1490px) {
  .App {
    &[data-theme='dark'] {
      .container {
        width: 90%;
      }
    }
  }
}

// ************* Heading Media queries from `769` until `1200` only
@import './styles/heading.media';

@media screen and (max-width: 768px) {
  .App {
    &[data-theme='dark'] {
      .container {
        &__sidebar {
          padding: 20px;
          width: 100%;
        }
      }
    }
  }
}
