@import '../../styles/global';
@import '../../styles/keyframes';
.sorting {
  margin-top: $smallSeparator;
  h4 {
    margin-bottom: 10px;
  }
  .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    .box {
      background: $color4;
      padding: 30px;

      // to center the content
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &__switch {
        transition: all 0.3s ease-out;
        margin-top: 5px;
        padding: 10px;
        background: $color1;
      }

      &__switchActive {
        transition: all 0.5s ease;
        margin-top: 5px;
        padding: 20px;
        background: $color5;
        box-shadow: 0 0 10px rgba($color: $color5, $alpha: 0.2);
        animation: shake 0.5s infinite ease;
      }
    }
  }
}

// ************* Media Query
@import './SortingOptions.media.scss';
